* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black-gradiant: linear-gradient(45deg, #161616 50%, #000000 100%);
  --red-gradiant: linear-gradient(45deg, #c80000 50%, #770000 100%);
  --black: #030303;
  --text: #fff;
  --section: #00000073;
  --h1: #fff;
  --h2: #fff;
  --h3: #fff;
  --h4: #666666;
}

/* Background */
body {
  min-height: 100vh; /* ocupa toda la pantalla */
  background: var(--black-gradiant);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: var(--black);
  box-shadow: 0 0 25px #000;
}

/* Desktop Nav Menu */
.nav-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: var(--black);
  box-shadow: 0 0 25px #000;
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.menu-toggle-checkbox {
  display: none;
}

.menu a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #8e8e8e;
}

/* Mobile Nav Menu */
@media (max-width: 768px) {
  .nav-responsive {
    padding: 16px;
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 0;
    padding: 0;
    background-color: var(--black);
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .menu a {
    font-size: 20px;
    padding: 30px 100px 30px 100px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle-checkbox:checked ~ .menu-toggle + .menu,
  .menu-toggle-checkbox:checked + .menu-toggle + .menu {
    transform: translateY(60px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu li {
    padding: 42px 0 42px 0px;
    border-bottom: 1px solid #555;
    text-align: center;
  }

  .menu li:last-child {
    border-bottom: none;
  }
}

.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(2) {
  opacity: 0;
}
.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5.5px);
}

/* Texts Desktop */
h1 {
  color: var(--h1);
  font-size: 30px;
}

h2 {
  color: var(--h2);
  font-size: 60px;
  letter-spacing: 2px;
  padding: 5px;
}

.h2-v2 {
  background: var(--red-gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px #8a0000;
}

h3 {
  color: var(--h3);
  font-size: 36px;
  font-weight: 400;
  padding: 5px;
}

h4 {
  color: var(--h4);
  font-size: 30px;
  font-weight: 400;
  padding: 100px;
}

.h4-v2 {
  color: var(--h4);
  text-shadow: 0 0 25px #fff0;
  transition: all 0.5s;
}

#home:hover .h4-v2 {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
}

/* Texts Mobile */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    padding: 30px 20px;
    font-size: 18px;
  }
}

/* Sections Desktop */
main {
  display: grid;
}

.text {
  width: 70%;
}

#home,
#services,
#contact {
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

#about-me,
#projects {
  background-color: var(--section);
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

/* Sections Mobile */
@media (max-width: 768px) {
  .text {
    width: 100%;
  }

  #home,
  #services,
  #contact {
    text-align: center;
    padding: 5px;
  }

  #about-me,
  #projects {
    justify-items: center;
    text-align: center;
    padding: 5px;
    background-color: var(--section);
  }
}

/* Footer */
footer {
  color: #fff;
  padding: 16px;
  text-align: center;
}
