* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black-gradiant: linear-gradient(45deg, #101010 50%, #000000 100%);
  --red-gradiant: linear-gradient(45deg, #c80000 50%, #770000 100%);
  --black: #030303;
  --text: #fff;
  --section: #00000073;
  --h1: #fff;
  --h2: #fff;
  --h3: #fff;
  --h4: #666666;
}

/* Background */
body {
  min-height: 100vh; /* ocupa toda la pantalla */
  background: var(--black-gradiant);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: var(--black);
  box-shadow: 0 0 25px #00000099;
}

/* Desktop Nav Menu */
.nav-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: var(--black);
  box-shadow: 0 0 25px #00000099;
  color: #fff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.menu-toggle-checkbox {
  display: none;
}

.menu a {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu a:hover {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
}

/* Mobile Nav Menu */
@media (max-width: 768px) {
  .nav-responsive {
    padding: 16px;
  }

  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 0;
    padding: 0;
    background-color: var(--black);
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  .menu a {
    font-size: 20px;
    padding: 30px 100px 30px 100px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle-checkbox:checked ~ .menu-toggle + .menu,
  .menu-toggle-checkbox:checked + .menu-toggle + .menu {
    transform: translateY(60px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu li {
    padding: 42px 0 42px 0px;
    border-bottom: 1px solid #555;
    text-align: center;
  }

  .menu li:last-child {
    border-bottom: none;
  }
}

.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(2) {
  opacity: 0;
}
.menu-toggle-checkbox:checked + .menu-toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5.5px);
}

/* Texts */
h1 {
  color: var(--h1);
  font-size: 30px;
}

h2 {
  color: var(--h2);
  font-size: 60px;
  letter-spacing: 2px;
  padding: 5px;
  transition: all 0.5s ease;
}

#about-me:hover h2::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.h2-v2 {
  background: var(--red-gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px #8a0000;
}

h3 {
  color: var(--h3);
  font-size: 36px;
  font-weight: 400;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.h3-v2 {
  color: var(--h3);
  transition: all 0.5s ease-in-out;
}

h4 {
  color: var(--h4);
  font-size: 20px;
  font-weight: 400;
}

.h4-v2 {
  color: var(--h4);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.h4-link {
  color: var(--h4);
  text-decoration: underline solid var(--h4);
  transition: all 0.5s ease-in-out;
}

.h4-link:hover {
  color: #b0b0b0;
  background-color: #353535;
  text-decoration: underline solid #353535;
}

.h4-link-services {
  color: var(--h4);
  background-color: #242424;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  padding: 20px;
  border-radius: 50px;
}

.h4-link-services:hover {
  color: #d7d7d7;
  background-color: #3f3f3f;
}

/* Text hover effects related to sections */
#home:hover h2,
#about-me:hover h2,
#services:hover h2,
#projects:hover h2,
#contact:hover h2 {
  letter-spacing: 5px;
}

#home:hover h3,
#contact:hover h3 {
  color: var(--h4);
}

#home:hover .h4-v2,
#about-me:hover .h4-v2,
#projects:hover .h4-v2,
#contact:hover .h4-v2 {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
}

#about-me:hover .item-label {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
}

.services-card:hover .h3-v2 {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
}

/* Section Home */
#home {
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

.home-container {
  width: 70%;
}

.home-container > h4 {
  padding: 40px 0;
}

/* Section About Me */
#about-me {
  background-color: var(--section);
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;
}

.about-me-text {
  width: 60%;
  text-align: left;
  padding: 10px 25px;
  border-radius: 30px;
  position: relative;
  transition: all 0.7s ease-in-out;
}

.about-me-text::after {
  content: "";
  position: absolute;
  top: 20%;
  left: -30px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 30px solid #1717176e;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  pointer-events: none;
}

#about-me:hover .about-me-text {
  background: #1717176e;
}

#about-me:hover .about-me-text::after {
  opacity: 1;
}

.about-me-text > h4 {
  padding: 20px 0;
}

.about-me-img {
  width: 300px;
  height: 300px;
  border: 6px solid #2e2e2e;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  transition: all 0.5s ease-in-out;
}

#about-me:hover img {
  filter: saturate(1);
}

#about-me:hover .about-me-img {
  border: 6px solid #a80000;
  box-shadow: 0 0 50px #8a0000;
}

.about-me-table {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  margin: 20px 0 20px 0;
}

.about-me-column {
  list-style: none;
  display: grid;
  row-gap: 12px;
}

.about-me-column li {
  color: var(--h4);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.item-label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #919191;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
}

/* Section Services */
#services {
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

#services:hover img {
  filter: saturate(1);
}

.services-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px 20px;
}

.services-card {
  background: #fff0;
  border: 6px solid #2e2e2e;
  border-radius: 50px;
  padding: 30px;
  text-align: center;
  color: #fff;
  width: 30%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.services-card:hover {
  background: #0000004c;
  border-color: #a80000;
  box-shadow: 0 0 50px #a80000;
  transform: translateY(-10px);
}

.services-card > h3,
h4 {
  padding: 16px 0 0 0;
}

/* Section Projects */
#projects {
  background-color: var(--section);
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

#projects:hover img {
  filter: saturate(1);
}

/* Section Contact */
#contact {
  justify-items: center;
  text-align: center;
  padding: 200px 0px;
}

#contact:hover img {
  filter: saturate(1);
}

/* Img */
img {
  filter: saturate(0);
  transition: all 0.5s ease-in-out;
}

/* Icons */
.icon {
  font-size: 50px;
  vertical-align: middle;
}

.icon-contact {
  color: #fff;
  border: 6px solid #fff0;
  border-radius: 50%;
  font-size: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 20px 20px 0 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.icon-contact:hover {
  color: #a80000;
  text-shadow: 0 0 25px #8a0000;
  border: 6px solid #a80000;
  box-shadow: 0 0 50px #8a0000;
  transform: rotate(360deg) scale(1.1);
}

/* Footer */
footer {
  color: #fff;
  padding: 16px;
  text-align: center;
}

/* Media Queries - Responsive */
/* 1440px */
@media (max-width: 1440px) {
  .menu a {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  .home-container {
    width: 85%;
  }

  .about-me-text {
    width: 70%;
    padding: 15px 20px;
  }

  .about-me-table {
    gap: 16px;
  }

  .about-me-column li {
    font-size: 14px;
  }

  .services-container {
    gap: 40px;
  }

  .services-card {
    width: 30%;
  }

  .icon-contact {
    font-size: 60px;
    width: 100px;
    height: 100px;
    margin: 10px 10px 0 10px;
  }

  .icon {
    font-size: 36px;
    vertical-align: middle;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  h4 {
    justify-self: center;
  }

  .about-me-text {
    width: 70%;
  }

  .about-me-img {
    width: 200px;
    height: 200px;
  }

  .about-me-table {
    gap: 35px 103px;
  }

  .about-me-text::after {
    top: 38%;
    left: -29.5px;
  }

  .services-container {
    gap: 33px;
  }
}

/* 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
    padding: 20px 0;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    padding: 20px 5px;
    font-size: 14px;
    text-align: justify;
  }

  .icon {
    font-size: 20px;
    vertical-align: middle;
  }

  .text {
    width: 100%;
  }

  #home,
  #services,
  #contact {
    text-align: center;
    padding: 5px;
  }

  #about-me,
  #projects {
    justify-items: center;
    text-align: center;
    padding: 5px;
    background-color: var(--section);
  }

  .home-container {
    width: 98%;
  }

  .home-container > h4 {
    padding: 20px 0;
  }

  .about-me-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 0;
  }

  .about-me-img {
    width: 200px;
    height: 200px;
  }

  .about-me-text {
    width: 99%;
    padding: 0;
    text-align: center;
  }

  #about-me:hover .about-me-text {
    background: #fff0;
  }

  #about-me > h2 {
    padding: 20px 0;
  }

  .about-me-text > h4 {
    padding: 16px 0;
  }

  .about-me-text::after {
    display: none;
  }

  .about-me-table {
    display: inline-grid;
    gap: 12px;
    width: 100%;
  }

  .about-me-column li {
    gap: 3px;
  }

  .services-card {
    width: auto;
    border-radius: 30px;
    padding: 20px 0;
  }

  .services-card > h3 {
    padding: 14px 0 0 0;
  }

  .services-card > h4 {
    padding: 14px 10px 0 10px;
    text-align: center;
  }

  .services-container {
    padding: 10px 20px;
    gap: 40px;
  }

  .h4-link-services {
    padding: 12px;
  }

  .icon-contact {
    border: 3px solid #fff0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 16px 5px 0px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .icon-contact:hover {
    border: 3px solid #a80000;
  }
}
